[submodule "extern/matplotplusplus"]
	path = extern/matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus.git
[submodule "extern/GLFW"]
	path = extern/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "extern/ImGui"]
	path = extern/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/ImPlot"]
	path = extern/ImPlot
	url = https://github.com/epezent/implot.git
[submodule "extern/Matplotplusplus"]
	path = extern/Matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus.git
[submodule "extern/glad"]
	path = extern/glad
	url = https://github.com/libigl/libigl-glad.git
